.country {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 2em;
    background-color: #023e8a;
    border-radius: 8px;
    box-shadow: 8px 8px 8px #656565;
}

.country--name {
    margin-top: 0;
}

.country--flag {
    width: 100%;
}

.country--info {
    align-self: flex-start;
}