.navbar {
    background-color: #023e8a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1.5em .5em 1em;
    box-shadow: 0 0 5px #000129;
    text-shadow: 0 0 2px #000;
}

.navbar--logo--container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: .8em;
}

.navbar--title {
    font-size: 1.3rem;
}

.navbar--slogan {
    display: none;
    font-size: .8rem;
    font-style: italic;
}


@media (min-width: 470px) {
    .navbar--slogan {
        display: inline;
    }
}
